= form_with(model: ride, local: true) do |f|
  - if ride.errors.any?
    #error_explanation
      %h2
        = pluralize(ride.errors.count, "error")
        prohibited this ride from being saved:
      %ul
        - ride.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label t(:'rides.new.name')
    %br
    = f.text_field :name
  .field
    = f.label t(:'rides.new.date')
    %br
    = f.date_select :date, class: 'btn btn-dark dropdown-toggle'
  .field
    = f.label t(:'rides.new.distance')
    %br
    = f.text_field :distance
  .field.number_field
    = f.label :hours, t(:'rides.new.ride_time')
    %br
    = f.number_field :hours, placeholder: t(:'rides.new.hours')
    = f.number_field :minutes, placeholder: t(:'rides.new.minutes')
    = f.number_field :seconds, placeholder: t(:'rides.new.seconds')
  .field
    = f.label t(:'rides.new.kind')
    %br
    = f.text_field :kind
  .field
    = f.label t(:'rides.new.image')
    %br
    = f.file_field :image, class: 'btn btn-sm btn-bark'
    = f.hidden_field :image_cache
  %br
  .actions
    - if params[:action] == 'new'
      = f.submit(t(:'rides.new.submit'), class: 'btn btn-sm btn-dark')
    - elsif params[:action] == 'edit'
      = f.submit(t(:'rides.edit.submit'), class: 'btn btn-sm btn-dark')
