%h2= "#{t('.header')} (#{@rides.count})"
%div.float-right.text-primary
  = button_to "+ #{t('.add_ride')}", new_ride_path, method: :get, class: 'btn-sm btn-dark'
%br
%br
%table.table-sm.table-dark.table-striped{:width => "100%"}
  %thead
    %tr
      %th.col-1.text-center= t('.date')
      %th.col-2.text-center= t('.name')
      %th.col-1.text-center= t('.distance')
      %th.text-center= t('.ride_time')
      %th.col-1.text-center= t('.kind')
      %th.text-center= t('.average_speed')
      %th.text-center= t('.average_pace')
      %th{:colspan => "3"}
  %tbody
    - @rides.each do |ride|
      %tr.striped
        %td.text-center= ride.date
        %td.text-center= ride.name
        %td.text-center= sprintf("%.2f", ride.distance) + ' km'
        %td.text-center= ride.time_view
        %td.text-center= ride.kind
        %td.text-center= ride.calculating_speed
        %td.text-center= ride.calculating_pace
        %td.text-center= link_to(image_tag('/details.png', size: '16x16', title: t('.details')), ride)
        %td.text-center= link_to(image_tag('/edit.png', size: '16x16', title: t('.edit')), edit_ride_path(ride))
        %td.text-center= link_to(image_tag('/trash.png', size: '16x16', title: t('.delete')), ride, method: :delete, data: { confirm: t('.confirm') })
